body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('fondo/Etiquetas Cristetto.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: #610129; 
    font-weight: bold;
    font-size: 1.3em;
}

a:hover {
    color: #217521; 
}


.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #e6d7b3;
}

.logo-container {
    flex-shrink: 0;
}

.logo {
    max-width: 20%; 
    height: auto;
}

.banner-items {
    display: flex;
    width: 75%; 
    justify-content: flex-end;
}

.banner-items ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: flex-end;
}

.banner-items li {
    margin-left: 5%; 
}

.banner-items a {
    color: #610129; 
    font-weight: bold;
    font-size: 0.8em; 
}

.banner-items a:hover {
    color: #217521; 
}

.slogan-container {
    color: #e6d7b3;
    padding: 1%;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.initial-page{
    margin: 15%;
    display: flex;
    flex-direction: column; /* Align elements in a column */
    justify-content: baseline;
    align-items:baseline;
}


.slogan {
    font-size: 3em;
}

button {
    background-color: #e6d7b3; 
    color: #610129; 
    font-size: 0.5em; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s;
}

/* Inicialmente fuera de la vista hacia la izquierda */
.initial-page .slogan-container,
.initial-page button {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-out, transform 1.5s ease-out;
}

/* Clase para aplicar la animación al estar en vista */
.initial-page .slogan-container.show,
.initial-page button.show {
    opacity: 1;
    transform: translateX(0);
}


button:hover {
    background-color: #217521; 
    transform: scale(1.05); 
}

.container-video {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    width: 100%;
    padding: 2%;
}

.container-text {
    padding: 2%;
    margin: 2%;
}

.text {
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Align elements in a column */
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30em; /* Adjust the height as necessary */
    color: white; /* Text color */
}

.conocenos-container {
    background-image: url('/imagenes/IMG_2555.JPEG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto; /* Adjust the height as necessary */
    color: black; /* Text color */
}

.conocenos {
    width: 30%;
    margin: 2%;
    padding-top: 10%;
    padding-bottom:20%;
}

.iconos {
    display: flex;
    gap: 20px;
}

.icono {
    font-size: 2em; 
    color: #610129; 
    text-decoration: none; 
    transition: color 0.3s; 
}

.icono:hover {
    color: #217521; 
}

.footpage-container {
    background-color: black;
}

.images-container {
    display: flex;
    justify-content: space-between;
    max-width: 70%; /* Limit the total width of the container */
    margin: 0 auto; /* Center the container */
    padding: 0 10%; /* Side margins */
}

.images {
    flex: 1;
    margin: 0 40px; 
    padding: auto;
}

.images img {
    width: 100%;
    height: auto;
    display: block;
}

.footpage-container {
    background-color: #e6d7b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;

}

.logo-footpage{
    max-width: 25%; 
    height: auto;
}

.links-footpage{
    padding: 2%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.vertical-line {
    width: 2px; /* Grosor de la línea */
    height: 10em; /* Altura de la línea */
    background-color: #610129; /* Color de la línea */
    margin: 0 20px; /* Espaciado a los lados */
    align-self: stretch; /* Para que la línea ocupe toda la altura del contenedor */
}

/* Estilo para el enlace activo */
.active {
    color: #217521; /* Cambia el color a tu preferencia */
    font-weight: bold;
    text-decoration: underline; /* Opcional: subrayar el enlace activo */
}

/* Rest of your CSS */



