body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('fondo/Etiquetas_Cristetto.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


a {
    text-decoration: none;
    color: #610129; 
    font-weight: bold;
    font-size: 1.3em;
}

a:hover {
    color: #217521; 
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #e6d7b3;
}

.logo-container {
    flex-shrink: 0;
}

.logo {
    max-width: 20%; 
    height: auto;
}

.banner-items {
    display: flex;
    width: 75%; 
    justify-content: flex-end;
}

.banner-items ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: flex-end;
}

.banner-items li {
    margin-left: 5%; 
}

.banner-items a {
    color: #610129; 
    font-weight: bold;
    font-size: 0.8em; 
}

.banner-items a:hover {
    color: #217521; 
}


ul {
    list-style-type: none; 
    padding: 0; 
}

li {
    margin-bottom: 10px; 
}

.title {
    text-align: center;
    padding: 20px;
}

.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    grid-template-rows: repeat(2, auto); /* Dos filas ajustadas al contenido */
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px;
}

.container-sobres{
   
}

.images-sobres{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    grid-template-rows: repeat(1, auto); /* Dos filas ajustadas al contenido */
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}

.item-sobres{
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Tres columnas de igual tamaño */
    grid-template-rows: repeat(1, auto); /* Dos filas ajustadas al contenido */
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #e6d7b3;
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
    opacity: 0; 
    animation: fadeIn 0.5s forwards;
}

.item-sobres img{
    width: 70%;
    
}


.item3 {
    display: flex;
    flex-direction: column; /* Added to stack the image and description vertically */
    justify-content: center;
    align-items: center;
    background-color: #e6d7b3;
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
    opacity: 0; 
    animation: fadeIn 0.5s forwards; 
}

.item3:hover {
    background-color: #610129; 
    transition: background-color 0.3s, transform 0.5s; 
    transform: scale(1.1);
}

.item3 img {
    width: 70%;
    height: auto;
}


.item2 {
    display: flex;
    flex-direction: column; /* Added to stack the image and description vertically */
    justify-content: center;
    align-items: center;
    background-color: #e6d7b3;
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
    opacity: 0; 
    animation: fadeIn 0.5s forwards; 
}

.item2:hover {
    background-color: #5e723e; 
    transition: background-color 0.3s, transform 0.5s; 
    transform: scale(1.1);
}

.item2 img {
    width: 70%;
    height: auto;
}

.item1 {
    display: flex;
    flex-direction: column; /* Added to stack the image and description vertically */
    justify-content: center;
    align-items: center;
    background-color: #e6d7b3;
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
    opacity: 0; 
    animation: fadeIn 0.5s forwards; 
}

.item1:hover {
    background-color: #944815; 
    transition: background-color 0.3s, transform 0.5s; 
    transform: scale(1.1);
}

.item1 img {
    width: 70%;
    height: auto;
}
.description {
    text-align: center;
    margin-top: 10px;
}

.price {
    font-weight: bold;
    font-size: 150%;
    color: #000;
}


.iconos {
    display: flex;
    gap: 20px;
}

.icono {
    font-size: 2em; 
    color: #610129; 
    text-decoration: none; 
    transition: color 0.3s; 
}

.icono:hover {
    color: #217521; 
}

.footpage-container {
    background-color: black;
}


.footpage-container {
    background-color: #e6d7b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.logo-footpage {
    max-width: 25%; 
    height: auto;
}

.links-footpage {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.vertical-line {
    width: 2px;
    height: 10em;
    background-color: #610129;
    margin: 0 20px;
    align-self: stretch;
}


.active {
    color: #217521; /* Cambia el color a tu preferencia */
    font-weight: bold;
    text-decoration: underline; /* Opcional: subrayar el enlace activo */
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.item:nth-child(1) {
    animation-delay: 0.5s; 
}

.item:nth-child(2) {
    animation-delay: 1s; 
}

.item:nth-child(3) {
    animation-delay: 1.5s; 
}
